#jeu{
    width: 250px;
    height:250px;
    background-color: #2a2a2a;
    border: 1px solid #555;
    margin :50px auto;
    box-shadow:3px 8px 3px #bbb;
    padding:10px;
    overflow: auto;
}
#jeu div{
    width:190px;
    margin: auto;
    padding: 20px;
}
#jeu button{
    width: 50px;
    height: 50px;
    margin: 5px;
    float:left;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    

}
#gameStatus{
    color:#FFF;
    padding: 15px 10px;
   
}
#text{
    padding: 15px 10px;
}